body{
  font-family: 'Roboto', sans-serif;
}

.old-price{
  opacity: 0.7;
  text-decoration: line-through;
  margin-left: 5px;
  display: inline-block;
}

.new-price{
  font-size: 2em;
  color: yellow;
}

#cart-area{
  position: fixed;
  top: 0;
  /* right: -350px; */
  width: 390px!important;
  height: 100vh;
  
  transition: all ease-in-out 0.3s;
  /* background-color: red; */
  z-index: 5;
}

#toggle-cart-area{
  float: left;;
  width: 40px;
  background-color: transparent;
  height: 100%;
  position: relative;
}

#toggle-cart {
  width: 40px;
  height: 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 0;
  text-align: center;
  line-height: 40px;
  color: black;
  font-size: 1.8em;
  cursor: pointer;
}

#toggle-cart i{
  transition: all ease-out 0.3s;
}

#toggle-cart:hover i{
  transform: rotate(90deg);
  color: lightseagreen;
}

#cart{
  float: right;
  width: 350px;
  background-color: rgba(0,0,0,0.9);
  height: 100%;
  overflow-y: auto;
}

.hide-cart{
  right: -350px;
}

.show-cart{
  right: 0;
}

.card-cart-item{
  position: relative;
}
.card-cart-item .delete-cart-item{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card-cart-item .delete-cart-item:hover{
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.3)
}

.card-food-item img{
  transition: all ease-out 0.3s;
}

.card-food-item:hover img{
  transform: scale(1.2);
}

.card-info-user-admin-page-active{
  
}

.header-user-acount-admin-page{
  transition: all 0.3s;
}

.header-user-acount-admin-page:hover{
  background-color: rgba(0,0,0,0.002);
}

.header-user-acount-admin-page-active{
  background-color: rgba(0,0,0,0.002);
}

.toogle-type-password{
  color: green;
  cursor: pointer;
}

.btn-toggle-pass{
  padding: 5px;
  font-size: 0.65em;
}